Spec2017/Input/
specbin/rary.a
.DS_Store
specbin/specEntry.o
specbin/warp.o
specbin/Integer/gcc.o
/Build
/Spec2017.xcodeproj/xcuserdata
/Spec2017.xcodeproj/project.xcworkspace/xcuserdata
/DerivedData
